#nome{
    width: 150px;
    height: 30px;
    background-color: aliceblue;
}

#email{
    width: 150px;
    height: 30px;
    background-color: pink;
}

#register{
    width: 100px;
    height: 30px;
    background-color: lightgreen;
}

#message{
    color: green;
    font-weight: bold;
}

#error{
    color: red;
    font-weight: bold;
}